/* <style type="text/css"> */
			.body{
				background-color: rgb(240, 240,240);
				height: 3000px;
			}
			/* head */
			.head{
				height: 35px;
				box-shadow: 1px 5px 5px #888;
			}
			.clear{
				width: 100%;
				/* height: 35px; */
				background-color: rgb(210, 34, 34);
				position: fixed;
				z-index: 999;
			}
			/* 通过伪类after向父元素最后添加空白块元素清除高度塌陷问题 IE6及以下不支持
			before伪类解决父子元素外边距重叠问题,子元素的外边距会传递给父元素
			.clearfix::before
			*/
			.clearfix::after
			{
				content: "";
				display: table;
				clear: both;
			}
			/* 兼容IE6 */
			.clearfix{
				zoom: 1;
			}
			.hd{
				width: 1100px;
				margin: 0 auto;
				
			}
			/* IE10及以下版本图片显示边框问题 */
			.logo img{
				position: relative;
				width: 75px;
				height: 35px;
				border: 0;
				float: left;
			}
			/* 设置a标签文字垂直居中 把父元素行高和高度设置为一致；
			因为默认的行高和字体高度有关，所以默认行高字体不会居中显示*/
			.nav{
				position: relative;
				height: 35px;
				float: right;
			}
			.navBar{
				list-style: none;
				width: 100%;
				height: 100%;
			}
			.navBar li{
				float: right;
				list-style: none;
				/* width: 100px; 不设置宽度后设置padding值不会改变元素可见框大小*/
				margin: 0 20px;/* 设置外边距 */
			}
			/* .homelink::before{
				
				background-image: url(../img/home.png);
				background-position: -32px -32px;
			} */
			.navBar a{
				display: block;
				width: 100px;
				color: white;
				font: 16px;
				line-height: 35px;
				font-family: "微软雅黑";
				text-align: center;
				text-decoration: none;
			}
			/* 			
			.navBar a:visited{
				color: mediumpurple;
			} 
			*/			
			.navBar a:hover{
				background-color: white;
				color: rgb(210, 34, 34);
			}
			.navBar a:active{
				background-color: #8f001e;
			}
			
			
			
			/* content 区 */
			.content{
				margin: 10px auto;
			}
			.left,
			.rightinfo,
			.banner{
				border:1px white solid;
				border-radius: 10px;
				box-shadow: 10px 10px 10px #888;
				position: relative;
			}
			.left{
				width: 300px;
				height: 300px;
				background-color: purple;
				margin-left: 10px;
				float: left;
				border: 1px
			}
			.banner{
				width: 300px;
				height: 300px;
				background-color: red;
				margin: 0 auto;
			}
			.rightinfo{
				width: 300px;
				height: 300px;
				background-color: pink;
				margin-right: 10px;
				float: right;
			}
			/* banner动画开始 
			
			.banner img{
				width: 400px;
				height: 200px;
				animation: lunbo 5s ease-in-out  infinite normal;
			}
			

			 @keyframes lunbo{
				0% {opacity: 0;}
				50% {opacity: 1;}
				100% {opacity: 0;}
			}
			.banner:hover{
				animation-play-state: paused;
			}

			 banner动画结束 */

			.PicNum li{
				/* float:right; */
				list-style: none;
				margin: 0 20px 0 0;
			}

			/* footer */
			.bottom{
				height: 100px;
				background-color: aquamarine;
			}
			.bottom li{
				float: left;
				list-style: none;
			}
			/* 全局固定区 */
			.about{
				width: 50px;
				height: 50px;
				border: 1px black solid;
				border-radius: 5px;
				background-color: yellowgreen;
				text-align: center;
				line-height: 50px;
				position: fixed;
				bottom: 50px;
				right: 20px;
				overflow: hidden;
				/* transition: height 1s; */
			}
			.about:hover{
				background-color: skyblue;
			}
			.about a{
				font:16px/50px "微软雅黑";
				text-decoration: none;
			}
			/* .about:hover{
				height: 150px;
				background-color: skyblue;
			} */
/* 		</style> */