/* <style type="text/css"> */
			/* 测试样式,后续取消 */
			.headNav{
				width: 1000px;
				height: 50px;
				margin: 0 auto;
				padding: 20px 0;
				background-color: gray;
				/* overflow:hidden; 此方法解决高度塌陷问题存在浏览器兼容问题*/

			/* 				
				背景图片相关属性 
				background-image: url(img/logo1.png);
				background-repeat: no-repeat;
				/* 如果只写一个值默认第二支为center，还可以指定百分数和坐标偏移量单位：px 
				background-position: bottom center;
				/* background-attachment: fixed; 图片不随页面滚动且会改变图片相对定位原点
				background 可以整合在一起写，没有顺序要求，没有写的使用默认值
			*/	
			}
			/* 通过伪类向父元素最后添加空白块元素清除高度塌陷问题 IE6及以下不支持*/
			.clearfix:after .clearfix:before{
				content: " ";
				display: table;
				clear: both;
			}
			/* 兼容IE6 */
			.clearfix{
				zoom: 1;
			}
			
			.logo{
				float: left;
				border: hidden;
				padding-top: 10px;
			}
			/* 设置a标签文字垂直居中 把父元素行高和高度设置为一致；
			因为默认的行高和字体高度有关，所以默认行高字体不会居中显示*/
			.nav{
				height: 50px;
				font: 16px/50px "微软雅黑";
				float: right;
			}
			.navBar{
				list-style: none;
				width: 100%;
				height: 100%;
			}
			.nav1st{
				float: right;
				list-style: none;
				/* width: 100px; 不设置宽度后设置padding值不会改变元素可见框大小*/
				margin: 0 20px;/* 设置外边距 */
			}
			.nav1st:hover{
				border-bottom: 1px solid #4385f6;
			}
			.navBar a{
				width: 100%;
				height: 100%;
				display: block;
				text-align: center;
				text-decoration: none;
				padding-bottom: 5px;
			}
			.navBar a:link{
				color: black;
			}
			/* 			
			.navBar a:visited{
				color: mediumpurple;
			} 
			*/			
			.navBar a:hover{
				color: #4385f6;
				/* css3特性,文字阴影效果 */
				text-shadow: 5px 5px 5px gainsboro;
			}
			.navBar a:active{
				color:darkred;
			}
			/* 取消IE10以下版本时边框问题 */
			.logo img{
				border: 0;
			}
			
			
			/* content 区 */
			.img1{
				margin: 20px auto;
				background-color: red;
			}
			.img1 img{
				width: 100%;
				height: 100%;
				animation: lunbo 5s ease-in-out  infinite normal;
			}
			@keyframes lunbo{
				
				0% {opacity: 0;/*top:50px;left:-100px; -moz-transform: scale(0,0); */}
/* 				20% {opacity: 0.2;top:50px;left:25px;-moz-transform: scale(20%,20%);}
				40% {opacity: 0.4;top:50px;left:50px;-moz-transform: scale(40%,40%);} */
				50% {opacity: 1;/*top:50px;left:100px; -moz-transform: scale(50%,50%); */}
/* 				80% {opacity: 0.8;top:50px;left:100px;-moz-transform: scale(80%,80%);} */
				100% {opacity: 0;/*top:50px;left:200px; -moz-transform: scale(100%,100%); */}
/* 				60% {opacity: 0.8;-moz-transform: scale(80%,80%);}
				70% {opacity: 0.6;-moz-transform: scale(60%,60%);}
				80% {opacity: 0.4;-moz-transform: scale(40%,40%);}
				90% {opacity: 0.2;-moz-transform: scale(20%,20%);}
				100% {opacity: 0.1;-moz-transform: scale(0,0);} */
			}
			.img1 img:hover{
				animation-play-state: paused;
			}
			.PicNum li{
				/* float:right; */
				list-style: none;
				margin: 0 20px 0 0;
			}
			
			/* 全局固定区 */
			.about{
				width: 50px;
				height: 50px;
				background-color: skyblue;
				transition: height 1s;
				position: fixed;
				bottom: 50px;
				right: 20px;
				overflow: hidden;
			}
			.box1{
				width: 50px;
				height: 50px;
				border: 1px black solid;
				background-color: yellowgreen;
				text-align: center;
				line-height: 50px;
			}
			.about:hover{
				height: 150px;
				background-color: skyblue;
			}
/* 		</style> */